.banner {
  color: white;
  font-family: 'KoHo';
  font-size: 20px;
  font-weight: bold;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

body {
  min-height: 100vh !important;
  position: relative;
}

nav {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  background-color: white !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .customize-partial-edit-shortcut {
  position: absolute;
  left: 30px;
  top: 0px;
}

nav .btn:hover {
  color: white;
}

nav .dropdown:hover > .dropdown-menu {
  display: block;
  margin-top: 0;
}

nav .dropdown > .dropdown-menu {
  border: none !important;
}

nav .dropdown > .dropdown-menu::before {
  content: '';
  border-top: solid 10px transparent;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
  position: absolute;
  top: 0;
  margin-top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

nav .dropdown-menu {
  border: solid 1px white;
  border-radius: 0%;
  padding-left: 10px;
  padding-right: 10px;
}

nav .dropdown-menu a {
  color: white !important;
  font-family: 'KoHo';
  font-weight: bold !important;
}

nav .dropdown-submenu {
  position: relative;
}

nav .dropdown-submenu ul {
  left: 90% !important;
  top: 5px !important;
}

nav .navbar-brand {
  font-weight: bolder;
  font-size: 26px !important;
}

nav .nav-link {
  font-weight: bold;
  font-family: 'KoHo';
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .dropdown > a {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .dropdown > a::after {
  border: none !important;
}

.hero {
  color: white;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .text {
  width: 50%;
}

.hero .text h1 {
  font-family: 'KoHo';
  font-weight: bolder;
}

.hero .text p {
  font-family: 'Raleway';
  font-weight: unset;
}

.hero .text .btn {
  width: 300px;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hero .text .btn:hover {
  color: white;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (min-width: 990px) {
  .navbar-collapse {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar-collapse .navbar-nav {
    margin: auto;
    text-transform: capitalize;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .navbar-collapse .CTA {
    color: white;
    font-weight: bold;
    border-radius: 37px;
  }
}

.archive .excerpts {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.archive .sidebar {
  width: 300px;
  background-color: white;
}

.theme-custom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.theme-custom-footer .customize-partial-edit-shortcut {
  position: absolute;
  left: 60px;
  z-index: 2;
  top: 0px;
}

.theme-custom-footer .column.site-identity {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.theme-custom-footer .column.site-identity strong {
  font-size: 30px;
  text-transform: capitalize;
}

.theme-custom-footer .column {
  width: 250px;
  font-family: 'Roboto';
}

.theme-custom-footer .column ul {
  opacity: 0.7;
  font-size: 15px;
}

.theme-custom-footer .column ul ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-custom-footer .column ul ol .icon {
  font-size: 24px;
  color: lightskyblue;
}

.theme-custom-footer .column p {
  font-size: 14px;
  font-weight: bold;
}

.footer {
  position: absolute !important;
  bottom: 0 !important;
}

@media (max-width: 990px) {
  nav {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  nav .navbar-collapse {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .navbar-collapse .CTA {
    color: white;
    font-weight: bold;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .dropdown > .dropdown-menu::before {
    border: none !important;
  }
}

.dropdown-item:active {
  background-color: transparent !important;
}

.dropdown-item:hover {
  background-color: transparent !important;
}

.catalogue {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalogue .card {
  width: 300px;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

.catalogue .card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.catalogue .card strong {
  text-decoration: underline;
  font-family: 'Raleway';
  font-weight: bolder !important;
  font-size: 20px;
}

.catalogue .card p {
  font-family: 'Roboto';
  font-weight: 400;
}

.catalogue .card p a {
  font-size: 12px;
  font-weight: bold;
}

.catalogue .card .date {
  border-top: solid 0.1px rgba(0, 0, 0, 0.068);
  position: absolute;
  bottom: 0;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */